table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

img {
  width: 30px;
  height: 30px;
}

#icon {
  float: right;
  cursor: pointer;
  margin-left: 10px;
}

table {
  width: 100%;
  min-height: 100%;
  margin-bottom: 5%;
}

primary-button {
  position: relative;
  left: 50%;
}

.line {
  display: block;
  margin: 25px
}

.line h2 {
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid red;
  position: relative;
}

.line h2 span {
  background-color: white;
  position: relative;
  top: 10px;
  padding: 0 10px;
}
